<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asset.mapper.DeviceMapper">
    <!--查询设备-->
    <select id="getDevice" parameterType="java.lang.String" resultType="asset.pojo.DeviceForm">
        SELECT * FROM `DeviceForm` WHERE deviceId=#{deviceId}
    </select>
    <select id="getDeviceLists" parameterType="String" resultType="asset.pojo.DeviceForm">
        SELECT * FROM `DeviceForm` WHERE useStatus=#{useStatus}
    </select>
    <select id="getDeviceList" parameterType="asset.pojo.DeviceForm" resultType="asset.pojo.DeviceForm">
        SELECT * FROM `DeviceForm` WHERE deviceName=#{deviceName}
    </select>
    <select id="getDeviceList1" resultType="asset.pojo.DeviceForm">
        SELECT * FROM `DeviceForm`
    </select>
    <!--更改设备状态-->
    <update id="modifyStatus" parameterType="asset.pojo.DeviceForm">
        UPDATE `DeviceForm` SET useStatus = #{useStatus} WHERE deviceId= #{deviceId}
    </update>
    <!--申请设备-->
    <insert id="applyDevice" parameterType="asset.pojo.ApplyForm" >
        INSERT INTO `ApplyForm` (unitId,deviceId,applyName,deviceName,unitName,applyTime)
        VALUES (#{unitId},#{deviceId},#{applyName},#{deviceName},#{unitName},#{applyTime})
    </insert>
    <!--报修设备-->
    <insert id="repairDevice" parameterType="asset.pojo.RepairForm">
        INSERT INTO `RepairForm`(unitId,deviceId,applyName,deviceName,unitName,repairTime)
        VALUES (#{unitId},#{deviceId},#{applyName},#{deviceName},#{unitName},#{repairTime})
    </insert>
    <!--退还设备-->
    <insert id="refundDevice" parameterType="asset.pojo.RefundForm">
        INSERT INTO `RefundForm` (unitId,deviceId,applyName,deviceName,unitName,refundTime)
        VALUES (#{unitId},#{deviceId},#{applyName},#{deviceName},#{unitName},#{refundTime})
    </insert>
    <!--查询申请-->
    <select id="getApplyForm" parameterType="asset.pojo.ApplyForm" resultType="asset.pojo.ApplyForm">
        SELECT * FROM `ApplyForm` WHERE deviceId=#{deviceId}
    </select>
    <!--查询报修-->
    <select id="getRepairForm" parameterType="asset.pojo.RepairForm" resultType="asset.pojo.RepairForm">
        SELECT * FROM `RepairForm` WHERE deviceId=#{deviceId}
    </select>
    <!--查询退还-->
    <select id="getRefundForm" parameterType="asset.pojo.RefundForm" resultType="asset.pojo.RefundForm">
        SELECT * FROM `RefundForm` WHERE deviceId=#{deviceId}
    </select>
    <!--添加申请的审核人-->
    <update id="addApplyAuditName" parameterType="asset.pojo.ApplyForm">
        UPDATE `ApplyForm` SET auditName=#{auditName},auditTime=#{auditTime}
        WHERE deviceId=#{deviceId}
    </update>
    <!--添加报修的审核人-->
    <update id="addRepairAuditName" parameterType="asset.pojo.RepairForm">
        UPDATE `RepairForm` SET auditName=#{auditName},auditTime=#{auditTime}
        WHERE deviceId=#{deviceId}
    </update>
    <!--添加退还的审核人-->
    <update id="addRefundAuditName" parameterType="asset.pojo.RefundForm">
        UPDATE `RefundForm` SET auditName=#{auditName},auditTime=#{auditTime}
        WHERE deviceId=#{deviceId}
    </update>
    <!--设备入库-->
    <insert id="addDevice" parameterType="asset.pojo.DeviceForm">
        INSERT INTO `DeviceForm` (deviceName,useStatus,storageTime)
        VALUES (#{deviceName},#{useStatus},#{storageTime})
    </insert>
    <!--设备出库-->
    <delete id="delDevice" parameterType="asset.pojo.DeviceForm">
        DELETE FROM `DeviceForm` WHERE deviceId=#{deviceId}
    </delete>
</mapper>